﻿@model SamsungBasvuruProject.WebApi.FormDatas.ApplicationImageFormData

@{
    ViewBag.Title = @ViewBag.Username;
}


@*<link href="~/Content/ImageStyle.css" rel="stylesheet" />*@
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
<script src="~/Content/ImageFullScreen.js"></script>

<script type="text/javascript">

    $(function () {
        $('#imageArea').click(function () {
            togglePhoto();
        });

        $('#btnAccept').click(function () {

            var _city = $('#Application_City').val();
            $.post("../../Samsung/AcceptApplication?_IMEINumber=" +@Model.Application.IMEINumber +"&_isApproved=" + "@Model.Application.IsApproved.ToString()" + "&_cityName=" + _city + "&_type=Accept")
                .success(function (veri) {
                    var status = veri[0];
                    var message = veri[1];

                    $('#alertArea').attr('class', 'alert alert-' + status);
                    $('#alertArea').text(message);

                });

        });

        $('#btnEdit').click(function () {
            var _city = $('#Application_City').val();
            $.post("../../Samsung/AcceptApplication?_IMEINumber=" +@Model.Application.IMEINumber +"&_isApproved=" + "@Model.Application.IsApproved.ToString()" + "&_cityName=" + _city + "&_type=Edit")
                .success(function (veri) {
                    var status = veri[0];
                    var message = veri[1];

                    $('#alertArea').attr('class', 'alert alert-' + status);
                    $('#alertArea').text(message);

                });
        });

        $('#btnDeny').click(function () {
            var _imeiNumber = $('#imeiArea').val();
            $.post("../../Samsung/DenyApplication?_IMEINumber=" + @Model.Application.IMEINumber+"")
                .success(function (veri) {
                    var status = veri[0];
                    var message = veri[1];

                    $('#alertArea').attr('class', 'alert alert-' + status);
                    $('#alertArea').text(message);
                });
        });

        function togglePhoto() {
            if ($('#imageArea').attr('width') == "100%") {
                $('#imageArea').attr('width', "25%");
                $('#imageArea').attr('height', "25%");
            }
            else {
                $('#imageArea').attr('width', "100%");
                $('#imageArea').attr('height', "100%");
            }
        };

    });

</script>


<h2>@ViewBag.Username</h2>


<div>
    <h4>Başvuru</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.Name)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Application.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.Surname)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Application.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.MobileNumber)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Application.IMEINumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.IMEINumber, new { id="imeiArea"})
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Application.Image)
        </dt>

        <dd>
            @*<div class="demo-image" data-image="@Url.Action("ReturnImage", "Samsung", new { imageData=@Model.Application.Image})" data-title="Başvuru" data-caption="@Model.Application.NameSurname" id="imageArea"></div>*@
            <img src="@Model.Image" width="25%" height="25%" alt="" id="imageArea" />
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Application.City)
        </dt>

        <dd>
            @Html.EditorFor(model => model.Application.City)
            @Html.ValidationMessageFor(model => model.Application.City)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Application.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.IsApproved)
        </dd>
    </dl>
</div>

<p>
    <button type="button" class="btn btn-danger" id="btnDeny">Reddet</button> &nbsp;
    <button type="button" class="btn btn-default" id="btnEdit">Güncelle</button>&nbsp;
    <button type="button" class="btn btn-success" id="btnAccept">Onayla</button>
</p>
<p>
    @Html.ActionLink("Listeye Geri Dön", "ListApplications")
</p>
<div class="alert alert-@ViewBag.Status" role="alert" id="alertArea">@ViewBag.Message</div>
