﻿@{
    ViewBag.Title = "Compare";
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
<script type="text/javascript">



    $(document).ready(function () {
        $('#btnCompare').click(function () {
            var _imei = $('#imeiTxt').val();
            $.getJSON('../api/SamsungApi/CompareVals/GetString?_imei=' + _imei).done(function (veri) {
                alert(veri);
            }).error(function (xhr, options, error) {
                if (error == "Not Found")
                    alert('IMEI Numarası bulunamadı.');
            });
        });

        $('#btnByteArray').click(function () {
            var _values = $('#byteArrayText').val();
            $.getJSON('../api/SamsungApi/DatabaseToImage').success(function (veri) {
                //veri.src = "data:image/jpg;base64," + veri.d;
                //var w = window.open("");
                //w.document.write(veri.outerHTML);
                window.open(veri, "_blank");
            })

        });

        $('#btnSalt').click(function () {
            var pwd = $('#saltText').val();
            $.getJSON('../api/SamsungApi/Tuzla?_password=' + pwd).done(function (veri) {
                alert(veri);

            });
        });

        $('#btnPwd').click(function () {
            var _usernameVal = $('#usernameText').val();
            var _passwordVal = $('#passwordText').val();

            $.getJSON('../api/SamsungApi/ComparePasswords?_username=' + _usernameVal + '&_password=' + _passwordVal).done(function (veri) {
                alert(veri);

            }).error(function (xhr, options, error) {
                if (error == "Not Found") {
                    alert('Şifreler uyuşmamaktadır');
                }
            });
        });


        function getBase64Image(img) {

            var canvas = document.createElement("canvas");
            canvas.width = img.width;
            canvas.height = img.height;

            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0);

            var dataURL = canvas.toDataURL("image/png");

            return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
        }

        var handleFileSelect = function (evt) {
            var files = evt.target.files;
            var file = files[0];

            if (files && file) {
                var reader = new FileReader();

                reader.onload = function (readerEvt) {
                    var binaryString = readerEvt.target.result;
                    document.getElementById("base64textarea").value = btoa(binaryString);
                };

                reader.readAsBinaryString(file);
            }
        };

        if (window.File && window.FileReader && window.FileList && window.Blob) {
            document.getElementById('imageFile').addEventListener('change', handleFileSelect, false);
        } else {
            alert('The File APIs are not fully supported in this browser.');
        }

        $('#btnImage').click(function () {

            //$.getJSON('../api/SamsungApi/ImageToDatabase?_image=' + $('#base64textarea').val()).success(function (veri) {
            //    alert(veri);

            var _parameter = $('#base64textarea').val();

            $.ajax({
                type: "GET",
                url: "/api/SamsungApi/ImageToDatabase",
                async:false,
                data: {_image:JSON.stringify(_parameter)},
                contentType: 'application/json; charset=utf-8',
                dataType:'json',
                success: function (response) {
                    alert(response.status);
                },
                error: function () {
                    alert("error");
                }
            });

        });
    });

</script>


<h2>Compare</h2>

IMEI KONTROL
<input type="text" id="imeiTxt" />
<input type="button" id="btnCompare" value="Check" />
<br />
ŞİFRE SALT HASH
<input type="text" id="saltText" value="password" />
<input type="button" id="btnSalt" value="Şifre Oluştur" />
<br />
PASSWORD KONTROL //TAM TAMAMLANMADI
<input type="text" id="usernameText" value="Kullanıcı Adı" />
<input type="text" id="passwordText" />
<input type="button" id="btnPwd" value="Şifreleri Karşılaştır" />
<br />


    IMAGE İŞLEMLERİ
<input type="file" id="imageFile" />
<br />
<div id="imageArea"></div>
<input type="button" id="btnImage" value="Image to Byte Array Button" />
<input type="button" id="btnByteArray" value="Byte Array to Image Button" />


<input type="hidden" id="base64textarea" />
<hr />
<br />
<img src="~/ImageFolder/riptide.jpg" id="image" />
<br />
<br />
<br />
