﻿@model IEnumerable<SamsungBasvuruProject.WebApi.FormDatas.ApplicationImageFormData>

    @{
    ViewBag.Title = "BAŞVURULARI LİSTELE";
    }
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <h2>BAŞVURULARI LİSTELE</h2>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
    $(function () {
        var input, filter, table, tr, td, i, j, counter;
        var filterCounter = 1;

        //counter = 0;
        $('#filterChoose').html("İsim <span class=\"caret\"></span>");

        var chooseInput = $('.dropdown-menu').children();

        for (i = 0; i < chooseInput.length; i++) {
            var childInputs = chooseInput.eq(i).children();

            childInputs.click(function () {
                $('#filterChoose').html($(this).html() + " <span class=\"caret\"></span>");
                var filter = $('#filterChoose').html();
                if (filter == "İsim <span class=\"caret\"></span>") {
                    filterCounter = 1;
                }
                if (filter == "Soyisim <span class=\"caret\"></span>") {
                    filterCounter = 2;
                }
                if (filter == "Telefon Numarası <span class=\"caret\"></span>") {
                    filterCounter = 3;
                }
                if (filter == "IMEINumber <span class=\"caret\"></span>") {
                    filterCounter = 4;
                }
                if (filter == "Şehir <span class=\"caret\"></span>") {
                    filterCounter = 6;
                }
            });
        }

        var infoChildren = $('#info').children(); //info tablosu içi tr->th
        var successChildren = $('#success').children(); //info tablosu içi tr->th
        var dangerChildren = $('#danger').children(); //info tablosu içi tr->th
        $('#filterArea').keyup(function (event) {
            input = $("#filterArea").val();
            filter = input.toUpperCase();
            table = $("table");
            for (j = 0; j < table.length; j++) {
                tr = table[j].getElementsByTagName("tr");
                var counterBadge = 0;
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[filterCounter];
                    if (td) {
                        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            counterBadge++;
                            counter++;
                        } else {
                            tr[i].style.display = "none";
                        }}}
                if (j == 0) { //info badge ına yaz
                    if (counterBadge < 0) {
                        counterBadge = 0;
                    }
                    $('#UnapprovedBadge').html(counterBadge);
                    $('#info-badge').html(counterBadge);
                }
                if (j == 1) { //success badge ına yaz
                    if (counterBadge < 0) {
                        counterBadge = 0;}
                    $('#ApprovedBadge').html(counterBadge);
                    $('#success-badge').html(counterBadge);}
                if (j == 2) { //danger badge ına yaz
                    if (counterBadge < 0) {
                        counterBadge = 0;
                    }
                    $('#DeniedBadge').html(counterBadge);
                    $('#danger-badge').html(counterBadge);
                }}
        });
    });
    </script>

    <div class="panel panel-default">
        <div class="panel-heading">BAŞVURU TÜRLERİ</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3 align-self-start" style="width:300px">
                    <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-warning-sign"></span><a href="#Henüz onaylanmamış" style="color:white"> Henüz Onaylanmamış Başvurular</a>&nbsp<span class="badge" id="UnapprovedBadge">  @ViewBag.UnApproved</span></button>
                </div>
                <div class="col-xs-3" style="width:250px">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span><a href="#Onaylanmış" style="color:white"> Onaylanmış Başvurular</a>&nbsp<span class="badge" id="ApprovedBadge">  @ViewBag.ApprovedCount</span></button>
                </div>
                <div class="col-xs-3" style="width:250px">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span><a href="#Reddedilmiş" style="color:white"> Reddedilmiş Başvurular</a>&nbsp<span class="badge" id="DeniedBadge">  @ViewBag.DeniedCount</span></button>
                </div>
                <div class="col-xs-3" style="width:250px">
                    <div class="input-group" style="width:300px">
                        <div class="input-group-btn">
                            <button type="button" id="filterChoose" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().Application.Name)</a></li>
                                <li><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().Application.Surname)</a></li>
                                <li><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().Application.MobileNumber)</a></li>
                                <li><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().Application.IMEINumber)</a></li>
                                <li><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().Application.City)</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control" placeholder="Aranacak kelimeyi giriniz!" id="filterArea" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    @foreach (var itemGroup in Model.GroupBy(b => b.ApproveType).OrderBy(o => o.Key))
    {
    var btn = "info";
    var icon = "glyphicon-warning-sign";
    var color = "purple";

    var counter = 1;

    if (itemGroup.Key == "Onaylanmış")
    {
    btn = "success";
    icon = "glyphicon-ok";
    color = "green";
    }
    if (itemGroup.Key == "Reddedilmiş")
    {
    btn = "danger";
    icon = "glyphicon-remove";
    color = "red";
    }

    <div class="panel-@btn">
        <div class="panel-heading" id="panel-@btn" data-toggle="collapse" data-target="#@btn" aria-expanded="true">
            <span class="glyphicon @icon"></span><button type="button" class="btn btn-@btn" id="@itemGroup.Key">
                @itemGroup.Key <span class="badge" id="@btn-badge"> @itemGroup.Count()</span>
            </button>
        </div>
        <table class="table table-striped table-bordered collapse" id="@btn" style="color:@color table-layout:fixed;">
            <tr>
                <th>
                    Sıra
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Application.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Application.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Application.MobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Application.IMEINumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Application.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Application.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Application.IsApproved)
                </th>
                <th></th>
            </tr>

            @foreach (var item in itemGroup)
            {
            <tbody id="tbody">
                <tr>
                    <td>
                        @counter
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application.MobileNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application.IMEINumber)
                    </td>
                    <td>
                        <img src="@item.Image" width="100px" height="100px" alt="" />
                        @*@Html.DisplayFor(modelItem => item.Image)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Application.IsApproved)
                    </td>
                    <td>
                        <div class="btn btn-@btn"><a href=@Url.Action("ApplicationDetails", "Samsung" , new { ID=item.Application.ID }) style="color:white;text-decoration:none">Detayları Görüntüle</a></div>
                        @*@Html.ActionLink("Detayları Görüntüle", "ApplicationDetails", new { ID = item.Application.ID })*@
                    </td>
                </tr>
            </tbody>
            counter++;
            }
        </table>
    </div>
    <hr />
    }


