﻿@using SamsungBasvuruProject.Data
@model User
@{
    ViewBag.Title = "Giris Yap";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#btnPwd').on('click', function () {
            $(this).toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open'); // toggle our classes for the eye icon
            togglePassword(); // activate the hideShowPassword plugin
        });});
    function togglePassword()
    {
        if ($('#Password').attr('type')=="text") {
            $('#Password').attr('type', 'password');}
        else {
            $('#Password').attr('type', 'text');
        }}
</script>
<h4>GİRİŞ YAP</h4>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
<hr />
<div class="input-group">
  <span class="input-group-addon" id="usernameArea">Kullanıcı Adı</span>
    @Html.TextBoxFor(Model => Model.Username, new { @class="form-control", placeholder="Kullanıcı Adınız", @style = "font-style: italic", aria_describedby ="usernameArea",})
</div>
<br />
<div class="input-group">
    <span class="input-group-addon" id="passwordArea">Şifre</span>
    @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", placeholder = "Şifreniz",@style= "font-style: italic", aria_describedby = "passwordArea", data_toggle = "passsword" })
        <button class="btn btn-default glyphicon glyphicon-eye-open" type="button" id="btnPwd"></button>
</div>
<br />
<button type="submit" class="btn btn-success" value="Giriş Yap" id="btnLogin">GİRİŞ YAP</button>
    <br />
<div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Message</div>
}
