﻿@{
    ViewBag.Title = "Compare";
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#btnCompare').click(function () {
            var _imei = $('#imeiTxt').val();
            $.getJSON('../api/SamsungApi/CompareVals').done(function (veri) {
                alert(veri);
            }).error(function (xhr, options, error) {
                if (error == "Not Found")
                    alert('IMEI Numarası bulunamadı.');
            });
        });
    });

    $(document).ready(function () {
        $('#btnSalt').click(function () {
            
            $.getJSON('../api/SamsungApi/Tuzla').done(function (veri) {
                alert(veri);
            }).error(function (xhr, options, error) {
                if (error == "Not Found")
                    alert('IMEI Numarası bulunamadı.');
            });
        });
    });
</script>


<h2>Compare</h2>

<input type="text" id="imeiTxt" />
<input type="button" id="btnCompare" value="Check"/>
<input type="button" id="btnSalt" value="Şifre Oluştur" />

