﻿@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Samsung", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @*<li>
                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>*@
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @{
    if (Session["User"] == null)
    {
        <li>@Html.ActionLink("Giriş Yap", "Login", "Samsung", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    else{
        <li>@Html.ActionLink("Çıkış yap", "Logout", "Samsung")</li>
        }
        }
    </ul>
}
